[Unit]
Description=PhotonCore Login Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/photoncore/login
ExecStart=/usr/bin/dotnet /opt/photoncore/login/PSO.Login.dll
Restart=on-failure
User=photoncore-login
Group=photoncore-login
EnvironmentFile=/etc/default/photoncore-login

[Install]
WantedBy=multi-user.target
