[Unit]
Description=PhotonCore Admin API
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/photoncore/admin
ExecStart=/usr/bin/dotnet /opt/photoncore/admin/PSO.AdminApi.dll
Restart=on-failure
User=photoncore-admin
Group=photoncore-admin
EnvironmentFile=/etc/default/photoncore-admin

[Install]
WantedBy=multi-user.target
