[Unit]
Description=PhotonCore Ship Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/photoncore/ship
ExecStart=/usr/bin/dotnet /opt/photoncore/ship/PSO.Ship.dll
Restart=on-failure
User=photoncore-ship
Group=photoncore-ship
EnvironmentFile=/etc/default/photoncore-ship

[Install]
WantedBy=multi-user.target
